<%-include ('header');-%>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">#_ID</th>
                            <th scope="col">Name</th>
                            <th class="text-center" colspan="3">action</th>

                        </tr>
                    </thead>
                    <tbody id="peopleTable">

                    </tbody>
                </table>

            </div>
        </div>
    </div>





    <%-include ('footer');-%>