<%-include ('header.ejs');-%>

    <div class=" container">
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <h1 class="text-center text-capitalize py-3">
                    Projects Create page
                </h1>
            </div>
        </div>
    </div>


    <%-include ('footer.ejs');-%>