<%-include ('header');-%>

    <div class="container">
        <!-- title row -->
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <h1 class="text-center text-capitalize py-3">
                    Projects Create page
                </h1>
            </div>
        </div>
        <!-- form row -->
        <form method="post" action="/web/person/add">
            <div class="row">
                <!-- name column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="personName" class="form-label">Person Name</label>
                        <input type="text" class="form-control" name="personName" id="personName"
                            aria-describedby="emailHelp">
                    </div>
                </div>
                <!-- email column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="personEmail" class="form-label">Person Email</label>
                        <input type="email" class="form-control" name="personEmail" id="personEmail">
                    </div>
                </div>
                <!-- village column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="village" class="form-label">Person Village</label>
                        <input type="text" class="form-control" name="village" id="village">
                    </div>
                </div>
                <!-- thana column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="thana" class="form-label">Person Thana</label>
                        <input type="text" class="form-control" name="thana" id="thana">
                    </div>
                </div>
                <!-- post code column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="postCode" class="form-label">Person Post Code</label>
                        <input type="number" class="form-control" name="postCode" id="postCode">
                    </div>
                </div>
                <!-- hobby column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="hobbyOne" class="form-label">Person Hobby One</label>
                        <input type="text" class="form-control" name="hobbyOne" id="hobbyOne">
                    </div>
                </div>
                <!-- hobby column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="hobbyTwo" class="form-label">Person Hobby Two</label>
                        <input type="text" class="form-control" name="hobbyTwo" id="hobbyTwo">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%-include ('footer');-%>