<%-include ('header');-%>

    <div class="container">
        <!-- title row -->
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <h1 class="text-center text-capitalize py-3">
                    Projects Create page
                </h1>
            </div>
        </div>
        <!-- form row -->
        <form method="post" action="/api/person/add">
            <div class="row">
                <!-- name column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="personName" class="form-label">Person Name</label>
                        <input type="text" class="form-control" name="personName" id="personName"
                            aria-describedby="emailHelp">
                    </div>
                </div>
                <!-- image column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="personEmail" class="form-label">Person Email</label>
                        <input type="email" class="form-control" name="personEmail" id="personEmail">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%-include ('footer');-%>