<%-include ('header');-%>

    <div class="container">
        <!-- title row -->
        <div class="row">
            <div class="col-12 col-md-12 col-sm-12">
                <h1 class="text-center text-capitalize py-3">
                    Projects Create page
                </h1>
            </div>
        </div>
        <!-- form row -->
        <form method="post" action="/api/users/create/add">
            <div class="row">
                <!-- name column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="userName" class="form-label">Project Name</label>
                        <input type="text" class="form-control" name="userName" id="userName"
                            aria-describedby="emailHelp">
                    </div>
                </div>
                <!-- image column -->
                <div class=" col-sm-12 col-md-6">
                    <div class="mb-3">
                        <label for="userEmail" class="form-label">Project Image</label>
                        <input type="email" class="form-control" name="userEmail" id="userEmail">
                    </div>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
    <%-include ('footer');-%>